/* body{
    font-family: 'Staatliches', cursive;
} */

.height{
    min-height: 100vh;
}
#secTitle{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
.title-underline{
    width: 100px;
    height: 5px;
    margin: 0 auto;
}
.height-80{
    min-height: 80vh;
}
.fa-check{
    margin-right: 10px;
}
.about-picture{
    background: url(../myfirstbootstrapwebsite/img/code.jpeg)center/cover no-repeat fixed;
}
#filter{
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)) ,url(../myfirstbootstrapwebsite/img/code.jpeg)center/cover no-repeat fixed;
}
#contact{
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)) ,url(../myfirstbootstrapwebsite/img/contact.jpg)center/cover no-repeat fixed;
}

/* Google map Responsiveness */
.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 450px;
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}