body{
    font-family: 'Staatliches', cursive;
}

.height{
    min-height: 100vh;
}
#secTitle{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
.title-underline{
    width: 100px;
    height: 5px;
    margin: 0 auto;
}
.height-80{
    min-height: 80vh;
}
.fa-check{
    margin-right: 10px;
}
.about-picture{
    background: url(../myfirstbootstrapwebsite/img/code.jpeg);
}